/* Variables */
@import "./../../scss/variables";

.pop-up {
    align-items: center;
    background-color: rgba(#000, 0.34);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    animation: fadeIn 0.3s;

    padding: 15px;
    min-width: 325px;

    .pop-up-card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 0px 2px $dark-color-four;
        flex-grow: 1;

        padding: 24px 16px;
        max-width: 325px;
        width: 100%;
    }

    .title {
        color: $primary-color;
        font-size: 24px;
        font-weight: bold;

        margin-top: 0;
        margin-bottom: 8px;
    }

    .message {
        font-size: 14px;
    }
}
