/* Colors */
$background-color: #f5f7ff;
$background-color-var: #e0e2f0;
$background-dark-color: #223;
$primary-color: #6034a3;
$secondary-color: #0a86f2;
$secondary-color-var: #36a4ff;
$dark-color-one: rgba(#000, 0.74);
$dark-color-two: rgba(#000, 0.64);
$dark-color-three: rgba(#000, 0.54);
$dark-color-four: rgba(#000, 0.24);
$light-color-one: rgba(#fff, 0.84);
$light-color-two: rgba(#fff, 0.74);
$light-color-three: rgba(#fff, 0.64);
$light-color-four: rgba(#fff, 0.14);
$gray-color: #5a5859;
